<ion-header appClickDisappear>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appClickDisappear padding>
  I don't feel so good...
</ion-content>
